.mainFooter{
    background-color: #0d9cb5;

}

.mainFooter li {
    color: white !important;
}
.icons_contact{
    list-style: none;
}

.social_icons {
    display: flex !important;
    gap: 10px ;
    /* justify-content: end; */
   
}


.social_icons a{
    color: white !important;
    transition: all 0.5s;
    font-size: 20px;
}
.social_icons a:hover{
    color:#0d9cb5 !important;
}