.blog_img{
    width: 100%;
    height: 250px;
}

.Blogn_1{
    /* background: url(../Assets/blog1.png); */
    height: 70vh ;
    width: 100%;
    border-radius: 16px ;
    
}

.bblog li{
    margin: 10px 0; 

}